{% extends "base.html" %}
{% block content %}
<h2>{{page_title}}</h2>
{% for dwarve in dwarves %}
{%if dwarves.index(dwarve) % 2 != 0%}
<div class="row featurette">
    <div class="col-md-7">
        <h3>{{dwarve.name}}</h3>
        <p>
            {{dwarve.description}}
        </p>
    </div>
    <div class="col-md-5">
        <img src="{{dwarve.image_source}}" alt="">
    </div>
</div>
{% else %}
<div class="row featurette">
    <div class="col-md-5">
        <img src="{{dwarve.image_source}}" alt="">
    </div>
    <div class="col-md-7">
        <h3>{{dwarve.name}}</h3>
        <p>
            {{dwarve.description}}
        </p>
    </div>
</div>
{% endif%}
{%endfor%}

{% endblock %}
